
    body{
        background: linear-gradient(to bottom, #33ccff 0%, #99ffcc 100%);
        background-size: cover ;
    }
    #name {
     color:white;
     font-size: 45px;
    }
    hr{
        width: 5%;
        color: rgba(128, 128, 128, 0.993);
        border-style: dotted none none;
        border-width: 8px;
    }
    #PP {
        border-radius: 50%;
        width: 170px;
    }
    #intro {
        border-spacing: 10px;
    }
